<!DOCTYPE html>

<html ng-app="courseListApp">
<head>
    <meta charset="UTF-8">
    <title>Homework 11-2</title>
    <script src="../../libraries/angular.js"></script>
    <link href="../../libraries/bootstrap.css" rel="stylesheet" />
    <link href="../../libraries/bootstrap-theme.css" rel="stylesheet" />

        <!--### Задача2-->
    <!--Добавьте в предыдущую задачу возможность пользователя редактировать задачи и сохранять результат после редактирования.-->

    <script>

        var model = {
            toToList: [{ name: "Купить молоко", description: "Сходить на рынок и купить молоко", date: '2/18/2015', completed: "Yes" },
                { name: "Посмотреть урок по AngularJS", description: "Досмотреть до конца урок на ltvdn.com", date: '2/18/2015', completed: "Yes" }]
        };


        var courseListApp = angular.module("courseListApp", []);

        // Контроллер

        courseListApp.controller("CourseListCtrl", function ($scope) {

            $scope.data = model;
            $scope.toDoName = $scope.toDoDesc =  $scope.toDoDate = $scope.toDoDone = $scope.error = "";
            $scope.in = 0;

            // Обработчик нажатия по кнопке
            $scope.addNewTask = function () {
                var completedTask =  'No';
                if($scope.toDoDone){
                    completedTask = 'Yes';
                }

                if( $scope.toDoName != '' &&  $scope.toDoDesc != '' &&  $scope.toDoDate != ''){
                    $scope.data.toToList.push({
                        name: $scope.toDoName,
                        description: $scope.toDoDesc,
                        date: $scope.toDoDate,
                        completed: completedTask
                    });

                    $scope.toDoName = $scope.toDoDesc =  $scope.toDoDate = $scope.toDoDone = $scope.error = "";
                }
                else {
                    $scope.error = 'Enter description of task!'
                }
            };

            // Обработчик нажатия по кнопке сохранения отредактированной информации
            $scope.writeEditedTask = function () {
               if( $scope.toDoName != '' &&  $scope.toDoDesc != '' &&  $scope.toDoDate != ''){

                    $scope.data.toToList[$scope.in].name = $scope.toDoName;
                    $scope.data.toToList[$scope.in].description = $scope.toDoDesc;
                    $scope.data.toToList[$scope.in].date = $scope.toDoDate;
                    $scope.data.toToList[$scope.in].completed = $scope.toDoDone;

                    $scope.toDoName = $scope.toDoDesc =  $scope.toDoDate = $scope.toDoDone = $scope.error = "";
                    $scope.buttonType = 0;
               }
                else {
                    $scope.error = 'Enter description of task!'
                }
            };

            // Обработчик нажатия по кнопке редактирования задачи
            $scope.editTask = function(numOfTask){
                $scope.buttonType = 1;
                $scope.in = numOfTask;
                $scope.toDoName = $scope.data.toToList[numOfTask].name;
                $scope.toDoDesc = $scope.data.toToList[numOfTask].description;
                $scope.toDoDate = $scope.data.toToList[numOfTask].date;
                $scope.toDoDone = $scope.data.toToList[numOfTask].completed;

            }
        });

    </script>

</head>

<body ng-controller="CourseListCtrl">
<div class="container">
    <div class="page-header">
        <h1>
            ToDo List
        </h1>
    </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Completed</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="toDo in data.toToList">
                <td>{{toDo.name}}</td>
                <td>{{toDo.description}}</td>
                <td>{{toDo.date}}</td>
                <td>{{toDo.completed}}</td>
                <td><button value="{{$index}}" ng-click="$parent.editTask($index)">Edit</button></td>
            </tr>
            </tbody>
        </table>


    <div class="panel">

        <div class="form-group">
            <label for="name">Comment:</label>
            <input class="form-control" ng-model="toDoName" id='name' />
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <input class="form-control" ng-model="toDoDesc" id='description' />
        </div>

        <div class="form-group">
            <label for="date">Due date:</label>
            <input class="form-control" ng-model="toDoDate" id='date' />
        </div>

        <div class="form-group">
            <label for="completed">Completed:</label>
            <input type='checkbox' class="checkbox" ng-model="toDoDone" id='completed'/>
        </div>

        <button class="btn btn-default" ng-click="addNewTask()" ng-hide="buttonType">Add</button>
        <button class="btn btn-default" ng-click="writeEditedTask()"ng-show="buttonType">Edit</button>
        <h4 style="color: red">{{error}}</h4>

    </div>
</div>
</body>
</html>

