<!DOCTYPE html>

<html ng-app="ngRepeatClasswork">
<head>
    <meta charset="UTF-8">
    <title>Classwork 12-1</title>
    <script src="../../libraries/angular.js"></script>
    <link href="../../libraries/bootstrap.css" rel="stylesheet" />
    <link href="../../libraries/bootstrap-theme.css" rel="stylesheet" />

        <!--### Задача 1
    Дано массив items:

   $scope.items = [
    { name: "B Item", price: 10.9, category: "Category 1", count: 10, tax: 1.12, expiration: 10 },
    { name: "A Item", price: 1.1, category: "Category 1", count: 8, tax: 0.55, expiration: 12 },
    { name: "D Item", price: 2.6, category: "Category 2", count: 7, tax: 0.22, expiration: 5 },
    { name: "C Item", price: 17.5, category: "Category 2", count: 33, tax: 2.77, expiration: 10 }];

    С помощью директивы ng-repeat создайте таблицу , отображающую данные массива.-->

    <script>

        var app = angular.module('ngRepeatClasswork', [])
            .controller('mainCtrl', function ($scope) {

                $scope.items = [
                    { name: "B Item", price: 10.9, category: "Category 1", count: 10, tax: 1.12, expiration: 10 },
                    { name: "A Item", price: 1.1, category: "Category 1", count: 8, tax: 0.55, expiration: 12 },
                    { name: "D Item", price: 2.6, category: "Category 2", count: 7, tax: 0.22, expiration: 5 },
                    { name: "C Item", price: 17.5, category: "Category 2", count: 33, tax: 2.77, expiration: 10 }];
            });

    </script>

</head>

<body ng-controller="mainCtrl">
    <div class="panel panel-primary" ng-controller="mainCtrl" ng-cloak>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Count</th>
                <th>Tax</th>
                <th>Expiration</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="item in items" ng-cloak>
                <td ng-repeat="data in item">
                    {{data}}
                </td>
            </tr>
            <tbody>
        </table>
    </div>
</body>
</html>

