<!DOCTYPE html>

<html ng-app="courseListApp">
<head>
    <meta charset="UTF-8">
    <title>Homework 12-1</title>
    <script src="../../libraries/angular.js"></script>
    <link href="../../libraries/bootstrap.css" rel="stylesheet" />
    <link href="../../libraries/bootstrap-theme.css" rel="stylesheet" />

    <!--### Задача 1
    Создайте приложение-калькулятор. В приложении должно быть два поля ввода и кнопки «+», «-», «*», «/». Реализуйте двунаправленную привязку таким образом, чтобы при нажатии на кнопки результат арифметических операций выводился на странице.-->

    <script>

        var model = {
            first: 0,
            second: 0,
            result: 0
            };


        var courseListApp = angular.module("courseListApp", []);

        // Контроллер

        courseListApp.controller("CourseListCtrl", function ($scope) {

            $scope.data = model;

            // Обработчик нажатия по кнопке
            $scope.showAdd = function () {
                if(!isNaN($scope.data.first) && !isNaN($scope.data.second)){
                    $scope.data.result = $scope.data.first + $scope.data.second;
                    $scope.error = '';
                }
                else {
                    $scope.error = 'Enter correct values!'
                    $scope.data.result = 'err';
                }
            };

            $scope.showSub = function () {
                if(!isNaN($scope.data.first) && !isNaN($scope.data.second)){
                    $scope.data.result = $scope.data.first - $scope.data.second;
                    $scope.error = '';
                }
                else {
                    $scope.error = 'Enter correct values!'
                    $scope.data.result = 'err';
                }
            };

            $scope.showMul = function () {
                if(!isNaN($scope.data.first) && !isNaN($scope.data.second)){
                    $scope.data.result = $scope.data.first * $scope.data.second;
                    $scope.error = '';
                }
                else {
                    $scope.error = 'Enter correct values!'
                    $scope.data.result = 'err';
                }
            };

            $scope.showDiv = function () {
                if(!isNaN($scope.data.first) && !isNaN($scope.data.second) && $scope.data.second != 0){
                    $scope.data.result = $scope.data.first + $scope.data.second;
                    $scope.error = '';
                }
                else {
                    $scope.error = 'Enter correct values!'
                    $scope.data.result = 'err';
                }
            };

            $scope.reset = function () {
                    $scope.data.result = 0;
                    $scope.data.first = $scope.data.second = 0;
                    $scope.error = '';
            };


        });

    </script>

</head>

<body ng-controller="CourseListCtrl">
<div class="container">
    <div class="page-header">
        <h1>
            Calculator
        </h1>
    </div>

    <div class="panel">

        <div class="form-group">
            <label for="first">First number:</label>
            <input class="form-control" ng-model="data.first" id='first' />
        </div>

        <div class="form-group">
            <label for="second">Second number:</label>
            <input class="form-control" ng-model="data.second" id='second' />
        </div>

        <button class="btn btn-info" ng-click="showAdd()">+</button>
        <button class="btn btn-info" ng-click="showSub()">-</button>
        <button class="btn btn-info" ng-click="showMul()">*</button>
        <button class="btn btn-info" ng-click="showDiv()">/</button>
        <button style="margin-left: 30px;" class="btn btn-default" ng-click="reset()">Reset</button>
        <h4 style="color: red">{{error}}</h4>


        <h3>Result:</h3>
        <p>{{data.result}}</p>
    </div>
</div>
</body>
</html>

